---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/tag/media/recent.json?client_id=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_max_tag_id":"1050198345429506789","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1050198345429506789","next_min_id":"1050199363349183283","min_tag_id":"1050199363349183283","next_url":"https:\/\/api.instagram.com\/v1\/tags\/tag\/media\/recent?client_id=test\u0026max_tag_id=1050198345429506789"},"meta":{"code":200},"data":[{"attribution":null,"tags":["beautiful","cute","instagirl","fashion","art","instagram","love","instalike","awesome","hair","tag","chick","home","girl","instamood","friends","me","beauty","instagood","tagsforlikes","likeforlike","details","pretty","photo","fun","smile","photooftheday","picoftheday","happy"],"location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1439413541","link":"https:\/\/instagram.com\/p\/6TDsG7xPsz\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e15\/11252290_1474799346148884_173290714_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/11252290_1474799346148884_173290714_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/e15\/11252290_1474799346148884_173290714_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1439413541","text":"|\u25aa
        #me \u25aa| #home #love #details #friends #fashion #chick #girl #hair #pretty
        #beautiful #smile #awesome #beauty #fun #instagram #tag #tagsforlikes #likeforlike
        #cute #happy #instalike #instagood #instagirl #instamood #art #instagood #picoftheday
        #photo #photooftheday","from":{"username":"beatriz.vascon","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/l\/t51.2885-19\/11350764_551208471697236_106693076_a.jpg","id":"2085534413","full_name":"Beatriz
        Vasconcelos"},"id":"1050199365832211437"},"type":"image","id":"1050199363349183283_2085534413","user":{"username":"beatriz.vascon","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/l\/t51.2885-19\/11350764_551208471697236_106693076_a.jpg","id":"2085534413","full_name":"Beatriz
        Vasconcelos"}},{"attribution":null,"tags":["tag","beste"],"location":null,"comments":{"count":0,"data":[]},"filter":"Unknown","created_time":"1439413528","link":"https:\/\/instagram.com\/p\/6TDqg5LEdD\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstag[...]
